h2 Hello #{email}
p 
    | Your account request to reset password:
    br
    | Token: #{token}
    br
    |  
    - const href = `${link}`
    a(href=href target="_blank") Click here to reset your password.
p Regards